#test-editormd-view{
  top:50px;
  position: relative;
}
.nearby {
  padding: 1rem 0;
  margin: 8% 0;
  font-size: .96rem;
  box-shadow: 0 1px 0 #E6E9ED, 0 -1px 0 #E6E9ED;
  top: 50px;
  position: relative;

}
.aligntop {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3%;
}
.alignbottom {
  overflow: hidden;
  text-overflow: ellipsis;
}
.nearby div.aligntop a:before {
  content: '« 上一篇：';
}
.nearby div.alignbottom a:before {
  content: '» 下一篇：';
}
.nearby div.aligntop a:hover{
  color: #50a4e4;
}
.nearby div.alignbottom a:hover{
  color: #50a4e4;
}